.buttons {
    display: flex;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    justify-content: center;
}

.button-wrapper {
    width: 10%;
    height: 50px;
    background-color: #000000;
    border: 0;
    border-radius: 7px;
    transition: all 0.3s ease;
    margin-right: 5%;
}

.button {
    text-decoration: none;
}

.button-text {
    padding-top: 10%;
    margin: 0;
    width: 100%;
    height: 50px;
    color: #00FF99;
    font-size: 18px;
    text-align: center;
}

.button-wrapper:hover {
   background-color: #666666;
}

.button-wrapper:hover .button-text {
   color: #00CC99;
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.half-width {
    width: 50%;
    min-width: 500px;
}

.flex-container {
    display: flex;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-column-reverse {
    flex-direction: column-reverse;
}

.flex-justify-start {
    justify-content: flex-start;
}

.flex-justify-end {
    justify-content: flex-end;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-space-between {
    justify-content: space-between;
}

.flex-justify-space-around {
    justify-content: space-around;
}

.flex-justify-space-evenly {
    justify-content: space-evenly;
}

#date_created {
    font-size: 20px;
    text-align: right;
}