.main_box {
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #000000;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}
