body {
    border: 0;
    margin: 0;
    min-height: 100vh;
    color: #FFFFFF;
}

h1 {
    text-align: center;
}

.content_box {
    transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
}

@media screen and (min-width:1024px) {
    .content_box {
        padding: 10px;
        width: 70%;
        min-width: 700px;
    }
}

@media screen and (min-height:600px) {
    .content_box {
        margin-top: 10vh;
    }
}

@media screen and (max-height:600px) {
    .content_box {
        margin-top: 95px;
    }
}

@media screen and (min-width:200px) and (max-width:1024px) {
    .content_box {
        width: 100%;
        padding: 10px;
    }
}

.auth_url {
    text-decoration: none;
    color: #00CC99;
}

.button-box {
    display: flex;
    justify-content: center;
    margin: 1%;
}

