.nav_menu {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    min-width: 726px;
    height: 10vh;
    min-height: 95px;
    background-color: #333333;
    position: fixed;
}

.header_block {
    height: 50%;
}

.header_block a {
    text-decoration: none;
}

.header_block h1 {
    transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
}

@media screen and (min-width:1024px) {
    .header_block h1 {
        margin: 0;
        padding: 0;
        color: #00FF99;
    }
}

@media screen and (min-width:200px) and (max-width:1024px) {
    .header_block h1 {
        margin: 0;
        padding: 0;
        color: #00FF99;
        font-size: 50px;
    }
}

.nav_block {
    height: 50%;
    display: flex;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: start;
    align-items: stretch;
}

.nav_box {
    width: 10%;
    min-width: 90px;
    margin-right: 0.2;
    margin-left: 0.2%;
    background-color: #000000;
    display: flex;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
    transition: all 0.6s ease;
}

.nav_box a {
    width: 100%;
}

.nav_box:hover {
    background-color: #00CC99;
    transform: scale(1.1);
    margin-right: 0.7%;
    margin-left: 0.7%;
}

.nav_box:hover .text {
    color: #000000;
    transform: scale(1.2);
}

.nav .text, .select_nav .text, .select_menu .text {
    margin: auto;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    transition: all 0.6s ease;
}

.select_menu {
    display: none;
    width: 20%;
    transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
}

.select_menu_title {
    margin: auto;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    transition: all 0.6s ease;
}

.select_menu_title:hover {
    background-color: #00CC99;
    color: #000000;
}

.select_nav {
    width: 20%;
    position: fixed;
    left: -20%;
    height: 90vh;
    background-color: #000000;
    margin: 0;
    transition:all .3s linear;
    -o-transition:all .3s linear;
    -moz-transition:all .3s linear;
    -webkit-transition:all .3s linear;
}

.select_menu:hover .select_nav {
    left: 0;
}

.select_nav p {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

.select_nav p a {
    text-decoration: none;
    color: #00CC99;
    font-size: 20px;
}

.select_nav_box {
    width: 100%;
    height: 10%;
    min-width: 90px;
    padding-top: 10%;
    background-color: #000000;
    display: flex;
    align-items: center;
    transition: all 0.6s ease;
}

.select_nav_box a {
    width: 100%;
}

.select_nav_box .text {
    width: 100%;
    text-align: center;
}

.select_nav_box:hover {
    background-color: #00CC99;
    transform: scale(1.1);
}

.select_nav_box:hover .text {
    color: #000000;
    transform: scale(1.2);
}

.nav_spacer {
    width: 60%;
    display: none;
    transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
}

@media (max-width: 1024px) {
    .nav {
        display: none;
    }
    .select_menu {
        display: inline-block;
    }
    .nav_spacer {
        display: block;
    }
}

.user_block {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.user_block p {
    margin: 0;
    color: #ffffff;
    text-align: center;
}

.user_block a {
    text-decoration: none;
    color: #00CC99;
}

@media (min-width: 1024px) {
    .user_block a {
        display: block;
    }
}

@media (max-width: 1024px) {
    .user_block a {
        display: none;
    }
}
