{% extends "main/base.html" %}

{% block content %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="table_header"><h3>Login</h3></div>

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <table class="table">
    <tr>
      <td class="input-label">{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>

    <tr>
      <td class="input-label">{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
  </table>

  <input class="button" type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />

  <p id="lost-password"><a href="{% url 'password_reset' %}">Lost password?</a></p>
</form>

{% endblock %}