{% extends "main/base.html" %}
{% load static %}
{% load material_form %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/form.css' %}">
{% endblock %}

{% block title %}Password reset{% endblock %}

{% block content %}

<form action="{% url 'password_change' %}" method="post">
    {% csrf_token %}
    <div class="table_header"><h3>Change</h3></div>
    {% if form.errors %}
        {% for error in form.errors.values %}
          <p class="error">{{ error.0 }}</p>
        {% endfor %}
    {% endif %}
    <div class="table">
        {% form %}
        {% part form.old_password prefix %}<i class="material-icons prefix">lock_open</i>{% endpart %}
        {% part form.new_password1 prefix %}<i class="material-icons prefix">lock_open</i>{% endpart %}
        {% part form.new_password2 prefix %}<i class="material-icons prefix">lock_open</i>{% endpart %}
        {% endform %}
    </div>
    <div class="button-box">
        <button class="btn" type="submit">Change password</button>
    </div>
</form>

{% endblock %}