{% extends "main/base.html" %}
{% load static %}
{% load material_form %}

{% block links %}
{% endblock %}

{% block title %}Password reset{% endblock %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <div class="table_header"><h3>Reset</h3></div>
    {% if form.errors %}
        {% for error in form.errors.values %}
          <p class="error">{{ error.0 }}</p>
        {% endfor %}
    {% endif %}
    <table class="table">
        {% form %}
        {% part form.email prefix %}<i class="material-icons prefix">email</i>{% endpart %}
        {% endform %}
    </table>
    <div class="button-box">
        <button class="btn" type="submit">Reset password</button>
    </div>
</form>

{% endblock %}