{% extends "main/base.html" %}
{% load static %}

{% block links %}
{% endblock %}

{% block title %}Password reset{% endblock %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <div class="table_header"><h3>Reset</h3></div>
    {% if form.errors %}
        {% for error in form.errors.values %}
          <p class="error">{{ error.0 }}</p>
        {% endfor %}
    {% endif %}
    <table class="table">
        <tr>
          <td class="input-label">{{ form.email.label_tag }}</td>
          <td>{{ form.email }}</td>
        </tr>
    </table>
    <input type="submit" class="button" value="Reset password" />
</form>

{% endblock %}