{% extends "main/base.html" %}
{% load static %}
{% load material_form %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/form.css' %}">
{% endblock %}

{% block title %}Registration{% endblock %}

{% block content %}

<form method="post" action="{% url 'registration' %}">
    {% csrf_token %}
    <div class="table_header"><h3>Registration</h3></div>

    {% if message %}
        <p class="error">{{ message }}</p>
    {% endif %}

    <div class="table">
    {% form %}

        {% part form.username prefix %}<i class="material-icons prefix">account_circle</i>{% endpart %}
        {% part form.email prefix %}<i class="material-icons prefix">email</i>{% endpart %}
        {% part form.password1 prefix %}<i class="material-icons prefix">lock_open</i>{% endpart %}
        {% part form.password2 prefix %}<i class="material-icons prefix">lock_open</i>{% endpart %}

    {% endform %}
    </div>
    <div class="button-box">
        <button class="btn" type="submit">registration</button>
    </div>
</form>

{% endblock %}