{% extends "main/base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/form.css' %}">
{% endblock %}

{% block title %}Registration{% endblock %}

{% block content %}

<form method="post" action="{% url 'registration' %}">
    {% csrf_token %}
    <div class="table_header"><h3>Registration</h3></div>

    {% if message %}
        <p class="error">{{ message }}</p>
    {% endif %}

    <table>
        <tr>
          <td class="input-label">{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </tr>

        <tr>
          <td class="input-label">{{ form.email.label_tag }}</td>
          <td>{{ form.email }}</td>
        </tr>

        <tr>
          <td class="input-label">{{ form.password1.label_tag }}</td>
          <td>{{ form.password1 }}</td>
        </tr>

        <tr>
          <td class="input-label">{{ form.password2.label_tag }}</td>
          <td>{{ form.password2 }}</td>
        </tr>
    </table>
    <input class="button" type="submit" value="registration" />
</form>

{% endblock %}