{% extends "main/base.html" %}
{% load static %}
{% load material_form %}

{% block links %}
{% endblock %}

{% block title %}Articles{% endblock %}

{% block content %}
  {% if user.is_superuser %}
    <form method="post" action="{% url 'article_create' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="table_header"><h3>Article creation</h3></div>

      {% if message %}
          <p class="error">{{ message }}</p>
      {% endif %}

      <div class="table">
      {% form %}
        {% part form.poster prefix %}<i class="material-icons prefix">add_a_photo</i>{% endpart %}
        {% part form.title prefix %}<i class="material-icons prefix">title</i>{% endpart %}
        {% part form.content prefix %}<i class="material-icons prefix">edit</i>{% endpart %}
        {% part form.author prefix %}<i class="material-icons prefix">account_circle</i>{% endpart %}
        {% part form.next_article prefix %}<i class="material-icons prefix">insert_link</i>{% endpart %}
        {% part form.prev_article prefix %}<i class="material-icons prefix">insert_link</i>{% endpart %}
      {% endform %}
      </div>
      <div class="button-box">
        <button class="btn" type="submit">create article</button>
      </div>
    </form>
  {% else %}
    <h1>You are not authenticated</h1>
    <h2>Please, <a class="auth_url" href="{% url 'login' %}">login as admin</a>.</h2>
  {% endif %}
{% endblock %}