{% extends "main/base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/article_style.css' %}">
{% endblock %}


{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <hr size="3" color="#009999">
    {% autoescape off %}
    {{ article.content }}
    {% endautoescape %}
    <hr size="3" color="#009999">
    <div class="flex-container flex-justify-space-between half-width-center no-margin">
        <p id="author"><b>{{ article.author }}</b></p>
        <p id="date_created"><b>{{ article.date_created }}</b></p>
    </div>

    {% if user.is_superuser %}
    <div class="buttons">
        <a class="btn" href="{% url 'article_update' article.id %}">Update article</a>
        <a class="btn" href="{% url 'article_delete' article.id %}">Delete article</a>
    </div>
    {% endif %}
{% endblock %}