{% extends "main/base.html" %}
{% load static %}

{% block links %}
  <link rel="stylesheet" href="{% static 'main/css/articles.css' %}">
{% endblock %}

{% block title %}Articles{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <h1>Articles</h1>
    {% if user.is_superuser %}
      <div class="button-box">
        <a class="btn" href="{% url 'article_create' %}">Create article</a>
      </div>
    {% endif %}
    <form action="{% url 'articles' %}" method="get" id="sortArticles">
      <p>Название статьи:</p>
      <input class="btn" type="text" name="find" id="find_text">
      <input class="btn" type="submit" id="find_submit" value="find">
    </form>
    {% for article in articles %}
    <div class="_anim_items _anim_no_hide" style="width: 80%; max-width: 700px; overflow: hidden;">
      <a href="{% url 'article_page' article.id %}" class="article_short">
          <div class="article_wrapper">
            <h2 class="article_title">{{ article.title }}</h2>
            <div class="article-spacer"></div>
            <div class="text">{% autoescape off %}{{ article.content }}{% endautoescape %}</div>
            <div class="article-spacer"></div>
            <p class="date">{{ article.date_created }}</p>
          </div>
      </a>
    </div>
    {% endfor %}
  {% else %}
    <h1>You are not authenticated</h1>
    <h4>Please, <a class="auth_url" href="{% url 'registration' %}">create new account</a> or <a class="auth_url" href="{% url 'login' %}">log in</a>.</h4>
  {% endif %}

{% if user.is_authenticated %}
  {% if page_obj.has_other_pages %}
  <nav class="list-pages">
    <ul>
      {% if page_obj.has_previous %}
        <li class="page-num">
            <a href="?page=1"><h4><<</h4></a>
        </li>
        <li class="page-num">
            <a href="?page={{ page_obj.previous_page_number }}"><h4><</h4></a>
        </li>
      {% endif %}
      {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
          <li class="page-num page-num-selected">
            <a><h4>{{ p }}</h4></a>
          </li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
          <li class="page-num">
            <a href="?page={{ p }}"><h4>{{ p }}</h4></a>
          </li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-num">
            <a href="?page={{ page_obj.next_page_number }}"><h4>></h4></a>
        </li>
        <li class="page-num">
            <a href="?page={{ paginator.num_pages }}"><h4>>></h4></a>
        </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
{% endif %}
{% endblock %}