{% load static %}

{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

{% load material_form %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% block links %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/background.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/menu.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="body">
    <div class="nav_menu lock_padding">
        <div class="nav_block">
            <div class="select_menu">
                <img src="{% static 'main/img/logo.png' %}">
                <ul class="select_nav">
                    <li>
                        {% if user.is_authenticated %}
                            <p><a href="{% url 'user_page' user.id %}">{{ user.username }}</a></p>
                        {% else %}
                            <p><a class="popup_link" href="#login_popup">Log In</a></p>
                            <p><a class="popup_link" href="#registration_popup">Registration</a></p>
                        {% endif %}
                    </li>
                    <li class="select_nav_box"><a href="{% url 'home' %}"><h4 class="text">Home</h4></a></li>
                    <li class="select_nav_box"><a href="{% url 'articles' %}"><h4 class="text">Articles</h4></a></li>
                    <li class="select_nav_box"><a href="{% url 'about' %}"><h4 class="text">About</h4></a></li>
                    <li>
                        {% if user.is_authenticated %}
                            <p><a href="{% url 'logout' %}">Log out</a></p>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <ul class="nav">
                <li class="nav_box"><a href="{% url 'home' %}"><h4 class="text">Home</h4></a></li>
                <li class="nav_box"><a href="{% url 'articles' %}"><h4 class="text">Articles</h4></a></li>
                <li class="nav_box"><a href="{% url 'about' %}"><h4 class="text">About</h4></a></li>
            </ul>
            <div class="nav_spacer"></div>
            <div class="user_block">
                {% if user.is_authenticated %}
                    <p><a href="{% url 'user_page' user.id %}">{{ user.username }}</a></p>
                    <p><a href="{% url 'logout' %}">Log out</a></p>
                {% else %}
                    <p>You are not logged in.</p>
                    <p><a class="popup_link" href="#login_popup">Log In</a> or <a class="popup_link" href="#registration_popup">Registration</a></p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="main_box">
        <div class="content_box">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% block popups %}
    {% endblock %}
    <script src="{% static 'main/js/scroll.js' %}"></script>
    <script src="{% static 'main/js/popups.js' %}"></script>
</body>
</html>