{% load static %}

{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

{% load material_form %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% block links %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/background.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/menu.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <menu class="nav_menu">
        <div class="header_block">
            <a href="{% url 'home' %}"><h1>Title</h1></a>
        </div>
        <div class="nav_block">
            <ul class="nav">
                <li class="nav_box"><a href="{% url 'home' %}"><h4 class="text">Home</h4></a></li>
                <li class="nav_box"><a href="{% url 'articles' %}"><h4 class="text">Articles</h4></a></li>
                <li class="nav_box"><a href="{% url 'about' %}"><h4 class="text">About</h4></a></li>
            </ul>
            <div class="select_menu">
                <h4 class="select_menu_title">Menu</h4>
                <ul class="select_nav">
                    <li class="select_nav_box"><a href="{% url 'home' %}"><h4 class="text">Home</h4></a></li>
                    <li class="select_nav_box"><a href="{% url 'articles' %}"><h4 class="text">Articles</h4></a></li>
                    <li class="select_nav_box"><a href="{% url 'about' %}"><h4 class="text">About</h4></a></li>
                </ul>
            </div>
            <div class="nav_spacer"></div>
            <div class="user_block">
                {% if user.is_authenticated %}
                    <p><a href="{% url 'user_page' user.id %}">{{ user.username }}</a></p>
                    <p><a href="{% url 'logout' %}">Log out</a></p>
                {% else %}
                    <p>You are not logged in.</p>
                    <p><a href="{% url 'login' %}">Log In</a> or <a href="{% url 'registration' %}">Registration</a></p>
                {% endif %}
            </div>
        </div>
    </menu>
    <div class="main_box">
        <div class="spacer"></div>
        <div class="content_box">
            {% block content %}
            {% endblock %}
        </div>
        <div class="spacer"></div>
    </div>
</body>
</html>